body {
  margin: 0;
  font-family: "Poppins",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.container > li{
  padding: 10px;
  margin-right: 10px;
}

.navbar{
  display: flex;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero--img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 500px;
}

.main--content{
  padding: 10px 50px;
  max-width: 100%;
  height: auto;
}

.card{
  font-size: 15px;
  width: 175px;
  padding: 0px 50px;
}

.card--img{
  width: 100%;
}

.card--stats{
  display: flex;
  align-items: center;
}

#star--img{
  height: 16px;
  padding-right: 5px;
}

.grey{
  color: #918e98;
}

#side--line{
  font-size: 18px;
}

.bold{
  font-weight: bold;
}

.card{
  flex: 0 0 auto;         
    display: flex;          
    flex-direction: column;
}

.card--price {
  margin-top: auto;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

